/* global */

:root {
  --color_primary: #ff3131;
  --color_secondary: #ff8181;
  --color_terciary: #b10000;
  --color_gray_light: #d5d5d5;
  --color_black: #000000;
  --color_white: #ffffff;
  --color_gradient: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #ff3131 100%);
  --font_small: 16px;
  --font_medium: 24px;
  --font_big: 32px;
  --gap_small: 8px;
  --gap_medium: 16px;
  --gap_big: 32px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color_white);
  background: var(--color_gradient);
}
main {
  width: 100%;
  margin-block: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
a {
  text-decoration: none;
  color: inherit;
}

/* layout */

.header,
.footer {
  height: 100px;
  width: 100%;

  background-color: var(--color_gray_light);
}
.container {
  height: 100%;
  padding-inline: 0;
  max-width: 1240px;
}
.footer {
  background-color: var(--color_black);
}
.logo_img {
  height: 80px;
}
.nav-link {
  color: var(--color_primary);
  font-weight: bold;
  cursor: pointer;
}
.nav-link:hover {
  color: var(--color_terciary);
}
