/* pagina -> servicio */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 72px;
  justify-content: center;
  justify-items: center; /*  centra cada imagen dentro de su celda */
}

.image-grid img {
  width: auto;
  height: 400px;
  object-fit: contain;
  border: 1px solid var(--color_gray_light);
  display: block;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Responsive: 1 columna en pantallas peque침as */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr;
    gap: 16px 16px;
    justify-items: center; /*  mantiene centrado en mobile */
  }

  .image-grid img {
    height: 200px;
  }

  /* Reordenar im치genes en m칩vil a 1 4 2 5 3 6 */
  .image-grid img:nth-child(1) {
    order: 1;
  }
  .image-grid img:nth-child(2) {
    order: 2;
  }
  .image-grid img:nth-child(4) {
    order: 3;
  }
  .image-grid img:nth-child(3) {
    order: 4;
  }
  .image-grid img:nth-child(5) {
    order: 5;
  }
  .image-grid img:nth-child(6) {
    order: 6;
  }
}

/* pagina -> convenios */
.image-grid-convenios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 32px;
  justify-content: center;
  justify-items: center; /*  centra cada imagen dentro de su celda */
}

.image-grid-convenios img {
  width: auto;
  height: 400px;
  object-fit: contain;
  border: 1px solid var(--color_gray_light);
  display: block;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Responsive: 1 columna en pantallas peque침as */
@media (max-width: 768px) {
  .image-grid-convenios {
    grid-template-columns: 1fr;
    gap: 16px 16px;
    justify-items: center; /*  mantiene centrado en mobile */
  }
  .image-grid-convenios img {
    height: 200px;
  }
}
