/* pagina -> servicio */
/* pagina -> servicio -> flayer */
.flayer {
  width: 100%;
  height: 500px;
  background-image: url("../public/img/herocontactanos.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}
.flayer_container {
  padding: 32px;
  border-radius: 20px;
  text-align: center;
}
/* pagina -> servicio -> formulario e informacion de contacto*/
.contact-container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  gap: var(--gap_big);
  flex-wrap: wrap;
  justify-content: center;
}
.form-container,
.info-container {
  padding: 32px;
  flex: 1;
  border-radius: 20px;
  border: 2px solid var(--color_primary);
}
.form-container h3,
.info-container h3 {
  font-weight: bold;
  margin-bottom: var(--gap_big);
  text-align: center;
}
.info-container {
  display: flex;
  flex-direction: column;
}
.form-control {
  margin-bottom: 15px;
  padding: 10px 14px;
}
.info-container-item {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-item {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: var(--font_small);
}
.info-item i {
  color: var(--color_primary);
  font-size: var(--font_medium);
}
/* map */
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap_big);
}
.map__img {
  border-radius: 20px;
  border: 2px solid var(--color_tertiary);
}
