/* pagina -> inicio */
/* pagina -> inicio -> caruzel*/
.carousel-wrapper {
  width: 100%;
  height: 720px;
  padding: 0;
}
#miCarousel {
  width: 100%;
  height: 100%;
}
.carousel-inner,
.carousel-item,
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel-item .carousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  z-index: 2;
}
/* pagina -> inicio -> parrafo */
.parrafo {
  display: flex;
  flex-direction: column;
  gap: var(--gap_medium);
  text-align: center;
  font-size: var(--font_medium);
}
/* pagina -> inicio -> servicios */
.service {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-evenly;
  gap: var(--gap_medium);
  align-items: center;
  flex-wrap: wrap;
}
.service_card {
  width: 350px;
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.one {
  background-image: url("../public/svg/traslados.svg");
}
.two {
  background-image: url("../public/svg/servicioeventos.svg");
}
.three {
  background-image: url("../public/svg/cobertura24hs.svg");
}
/* pagina -> inicio -> reseñas */
.reseñas {
  width: 100%;
  max-width: 1240px;
  padding-inline: var(--gap_medium);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: var(--gap_small);
  justify-items: center;
  align-items: center;
}
.reseñas img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  display: block;
}
/* --- Responsive --- */
@media (max-width: 576px) {
  .parrafo {
    font-size: var(--font_small);
  }
  .service_card {
    width: 300px;
    height: 300px;
  }
}
